/* Tipografías que usaremos
************************************/
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,700;1,700&family=Rubik:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,700;1,700&family=Rubik:ital,wght@0,500;1,500&display=swap');

/* Estilos para maquetar
************************************/
body {
    height: 100vh;
    width: 300px;
    display: grid;
    place-content: center;
    margin: auto;
}

p,
a,
span,
div {
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 300;
    margin: 0;
}

a{
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    margin: 0;
}

/* Variables de color
************************************/
:root {
    --e-global-color-primary: #FF4081;
    --e-global-color-secondary: #3F51B5;
    --e-global-color-text: #333333;
    --e-global-color-accent: #757DE8;
    --e-global-color-7e95af4: #00000000;
    --e-global-color-d3ee51d: #F5F5F5;
    --e-global-color-caa98cc: #EBEBEB;
    --e-global-color-aaf3ed6: #C2C2C2;
    --e-global-color-96969fe: #DEDEFF;
    --e-global-color-6062eab: #FFE4FF;
    --e-global-color-840016e: #5C5C5C;
    --e-global-color-7644a5c: #FFFFFF;
}

/* Variables de tipografía
************************************/
:root {
    --e-global-typography-ec1529f-font-size: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
    --e-global-typography-25ae628-font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --e-global-typography-60ff935-font-size: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --e-global-typography-6aecb25-font-size: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --e-global-typography-faeb9bc-font-size: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
    --e-global-typography-d6dbe2c-font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --e-global-typography-77ae88b-font-size: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

/* TRANSICIONES
**************************/
.trans-lin {
    transition: 150ms linear;
}

.trans-ease {
    transition: 150ms ease;
}

/*COLORES
************************************/

.color-prim {
    color: var(--e-global-color-primary);
}

.color-sec {
    color: var(--e-global-color-secondary);
}

.color-ter {
    color: var(--e-global-color-accent);
}

.color-four {
    color: var(--e-global-color-text);
}

.color-transparent {
    color: var(--e-global-color-7e95af4);
}

.color-ex1 {
    color: var(--e-global-color-d3ee51d);
}

.color-ex2 {
    color: var(--e-global-color-caa98cc);
}

.color-ex3 {
    color: var(--e-global-color-aaf3ed6);
}

.color-ex4 {
    color: var(--e-global-color-96969fe);
}

.color-ex5 {
    color: var(--e-global-color-6062eab);
}

.color-ex6 {
    color: var(--e-global-color-840016e);
}

.color-ex7 {
    color: var(--e-global-color-7644a5c);
}

/*FONDOS
************************************/

.bg-color-prim {
    background: var(--e-global-color-primary);
}

.bg-color-sec {
    background: var(--e-global-color-secondary);
}

.bg-color-ter {
    background: var(--e-global-color-accent);
}

.bg-color-transparent {
    background: var(--e-global-color-7e95af4);
}

.bg-color-ex1 {
    background: var(--e-global-color-d3ee51d);
}

.bg-color-ex2 {
    background: var(--e-global-color-caa98cc);
}

.bg-color-ex3 {
    background: var(--e-global-color-aaf3ed6);
}

.bg-color-ex4 {
    background: var(--e-global-color-96969fe);
}

.bg-color-ex5 {
    background: var(--e-global-color-6062eab);
}

.bg-color-ex6 {
    background: var(--e-global-color-840016e);
}

.bg-color-ex7 {
    background: var(--e-global-color-7644a5c);
}

/*ESPACIADOS, PAD Y MAR
************************************/
.gap-2sm {
    gap: 5px;
}

.gap-3sm {
    gap: 3px;
}

.gap-sm {
    gap: .5em;
}

.gap-m {
    gap: 1em;
}

.pad-sm {
    padding: .5em;
}

.pad-usm {
    padding: 5px;
}

.pad-l {
    padding: 1.5em;
}

.pad-r-l {
    padding-right: 1em;
}

.pad-t-b-sm {
    padding: .5em 0 .5em 0;
}

.marg-zero {
    margin: 0;
}

.marg-t-l {
    margin-top: 1.5em;
}

/* BORDES
************************************/

.bdr-rad-usm {
    border-radius: 2px;
}

.bdr-rad-sm {
    border-radius: .5em;
}

.full-bdr-r {
    border-radius: 9999px;
}

.card-bdr-s {
    border: 1px solid var(--e-global-color-caa98cc);
}

/* TEXTOS
************************************/

.txt-al-cntr {
    text-align: center;
}

.f-size-sm {
    font-size: var(--e-global-typography-ec1529f-font-size);
}

.f-size-m {
    font-size: var(--e-global-typography-25ae628-font-size);
}

.f-size-l {
    font-size: var(--e-global-typography-60ff935-font-size);
}

.f-size-xl {
    font-size: var(--e-global-typography-6aecb25-font-size);
}

.f-size-xxl {
    font-size: var(--e-global-typography-faeb9bc-font-size);
}

.f-size-xxxl {
    font-size: var(--e-global-typography-77ae88b-font-size);
}

.short-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.font-w-700 {
    font-weight: 700;
}

.min-h-title {
    min-height: 46px;
}

/* DISPLAY GRID
************************************/

.d-grid {
    display: grid;
}

.place-cnt-ctr {
    place-content: center;
}

.two-col-grid {
    grid-template-columns: 1fr 1fr;
}

.six-col-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* DISPLAY FLEX
************************************/

.d-flex {
    display: flex;
}

.flex-dir-col {
    flex-direction: column;
}

.j-cnt-cntr {
    justify-content: center;
}

.align-itm-cntr {
    align-items: center;
}


/* OTROS
************************************/

.img-4-3 {
    aspect-ratio: 4/3;
    object-fit: cover;
}

.bg-adj {
    background-size: cover;
    background-position: center;
}

.pos-rel {
    position: relative;
}

.ov-hidd {
    overflow: hidden;
}

.list-style-none {
    list-style: none;
}

.pos-abs {
    position: absolute;
}

.full-width{
    width: 100%;
}

.barrio-prop svg{
    width: 1rem;
}

.barrio-prop:hover{
    color: var(--e-global-color-primary);
}

/* BOTÓN PROPIEDAD
************************************/

.post-link {
    padding: .5em .65em;
}

.post-link:hover {
    color: var(--e-global-color-96969fe);
    background: var(--e-global-color-accent);
}

/* TIPO DE OPERACIÓN
************************************/

.op-type {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 5;
}

/* BOTÓN BLOG
************************************/

.links-blog:hover {
    color: var(--e-global-color-primary);
}

.links-blog {
    text-decoration: none;
    text-decoration: underline !important;
    text-underline-offset: 7px;
}

/* IMG BLOQUE PROPIEDAD
************************************/

.img-gal {
    margin-bottom: -3%;
    opacity: 0;
}

.imgs-prop:hover .img-gal {
    opacity: 1;
}

.imgs-prop:hover::after {
    opacity: 1;
}

/* BOTÓN FAVORITOS
************************************/

.fav-btn {
    left: 1em;
    top: 1em;
    height: 38px;
    width: 38px;
}

/* ITEMS FAVORITOS
************************************/

.price-post-link {
    padding-right: 1em;
}

.container-favs {
    grid-template-columns: 1fr 2fr;
    min-height: 10rem;
}

.container-favs-data {
    grid-template-columns: 2fr 1fr;
}

.del-fav {
    position: absolute;
    top: .25em;
    right: .25em;
}

.svg-fill-fav {
    fill: var(--e-global-color-primary);
}